.python-version
datasets/
.ipynb_checkpoints/
image-model-v2/plant_disease_prediction_model.h5
image-model-v2/paddy_disease_model.tflite
PaddyDiseaseDetector/app/src/main/assets/paddy_disease_model.tflite